{{ template "header" . }}
<div>
  <center>
    <h1>Welcome To S-TECH</h1>
    <p>Peralatan Komputer | Buku Informatika | Software | Jasa Pembuatan Software</p>
  </center>
</div>
{{ template "footer" }}
